<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-footer-content d-flex">
          <div class="created-by-iex">
            <div class="iex__logo">
              <div class="iex__logo__exception">
                <div class="iex__logo__exception__greyline"></div>
                <div class="iex__logo__exception__greyline"></div>
                <div class="iex__logo__exception__greyline"></div>
                <div class="iex__logo__exception__greyline"></div>
                <div class="iex__logo__exception__greyline"></div>
                <div class="iex__logo__exception__redline"></div>
                <div class="iex__logo__exception__greyline"></div>
              </div>
              <span class="iex__logo__char iex__logo__i">i</span>
              <span class="iex__logo__char iex__logo__n">n</span>
              <span class="iex__logo__char iex__logo__t0">t</span>
              <span class="iex__logo__char iex__logo__e">e</span>
              <span class="iex__logo__char iex__logo__r">r</span>
              <span class="iex__logo__char iex__logo__r">r</span>
              <span class="iex__logo__char iex__logo__u">u</span>
              <span class="iex__logo__char iex__logo__p">p</span>
              <span class="iex__logo__char iex__logo__t1">t</span>
              <span class="iex__logo__char iex__logo__e iex__logo__red">e</span>
              <span class="iex__logo__char iex__logo__x iex__logo__red">x</span>
            </div>
          </div>
          <div class="copyright ml-auto">
            &copy; {{ today | date: "yyyy" }} checksnils
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
